{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": [0],
    "generator-star-spacing": [0],
    "consistent-return": [0],
    "react/forbid-prop-types": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "global-require": [0],
    "import/prefer-default-export": [0],
    "react/jsx-no-bind": [0],
    "react/prop-types": [0],
    "react/prefer-stateless-function": [0],
    "no-else-return": [0],
    "no-restricted-syntax": [0],
    "import/no-extraneous-dependencies": [0],
    "no-use-before-define": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "no-nested-ternary": [0],
    "arrow-body-style": [0],
    "import/extensions": [0],
    "no-bitwise": [0],
    "no-cond-assign": [0],
    "import/no-unresolved": [0],
    "require-yield": [1],
    "no-param-reassign": [0],
    "no-shadow": [0],
    "no-underscore-dangle": [0],
    
    "no-var": 1,  // 不许使用var声明变量
    "indent": [2, 2, {
      "SwitchCase": 1
    }], // 缩进为2
    "semi-style": [0, "last"],  // 强制分号出现在末尾
    "semi": [2, "always"], // 强制使用分号
    "linebreak-style": [0], // 无视换行符类型
    "no-multi-spaces": [2, {
      "ignoreEOLComments": true
    }], // 忽略行尾注释前的多个空格报错
    "no-unused-vars": [1, {
      "vars": "all", "args": "after-used", "ignoreRestSiblings": false 
    }], // 未使用过的变量只作警告
    "dot-notation": [1, {
      "allowKeywords": false
    }],
    "prefer-template": 1, // 在使用字符串连接语法时进行警告
    "eqeqeq": [1, "always"],  // 使用 == 的时候有提醒
    "max-len": [1, 120]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}